html, body, img, nav, ul, li, a, header, aside, h1, h2, section, figure, figcaption, ol, form, input, label, select, option, textarea, footer {
  margin: 0;
  padding: 0;
  border: 0;

  font: inherit;
}

img {
  width: 100%;
}

 li, ol {
  list-style: none;
}

body {
  line-height: 1.5;
}