/* Introduction to Cascading Style Sheets */

body {
  /* If the user cannot load the Arial font, the sans-serif font is used */
  font-family: Arial, sans-serif;
  background-color: #FEFFF1;
  width: 900px;
  margin: 0 auto;
}

body > section {
  width: 700px;
  display: block;
  float: left;
}

body > aside {
  width: 180px;
  display: block;
  float: left;
  margin-right: 15px;

}

h1 {
  font-size: 38px;
  margin-bottom: 10px;
}

h2 {
  font-size: 32px;
}

/* This selector selects ALL anchor tag children of ALL list elements that
are children of an Unordered Lsit element */
ul li a, figcaption a {
  text-decoration: none;
  color: inherit;
}

nav {
  display: inline-block;
  float: right;
}

nav > ul > li {
  display: inline-block;
}

a {
  display: block;
  padding: 20px 20px 0px 20px;
  position: relative;
  bottom: 10px;
}

/* This selector selects only IMMEDIATE (1 level deep) image element children
of the header element */
header > img {
  width: 100px;
}

/* Selects all elements with the class attribute "ingredients-list" */
.ingredients-list {

  /* The list style property is shorthand for multiple list-style properties*/
  list-style: square inside;
}

.ingredients-list > li {
  margin-top: 15px;
  margin-bottom: 15px;
}


ol {
  list-style: upper-roman inside;
}

ol > li {
  margin-top: 15px;
  margin-bottom: 15px;
}

.user_review h4 {
  font-size: 18px;
  font-weight: bold;
}

input[type="radio"] {
    -webkit-appearance: none;
    width: 27px;
    height: 27px;
    background-image: url(../assets/stars.png);
    vertical-align: bottom;
    display: inline-block;
    margin-top: 0px;
    margin-right: 5px;
    margin-left: 5px;
}

input[type="radio"]:checked {
  background-position: 30px 30px;
  display: inline-block;
}


input:last-child {
    background: gold;
    display: block;
}

input:last-child:hover {
    -webkit-filter: brightness(90%);
}

ol li:nth-of-type(2n) {
  background-color: whitesmoke;
}

h2 + .user_review {
    border-top: 1px solid black;
}

select {
  width: 300px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
}

textarea {
  width: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
}

input[type="text"] {
 width: 200px;
 display: block;
 margin-top: 5px;
  margin-bottom: 5px;
}

label {
  margin-top: 5px;
  margin-bottom: 5px;
}

p {
  margin: 0;
  display: block;
}



section#reviews {
  float: right;
}